:root {
    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;

    /* Mesas */
    --free: #a5e972;
    --busy: #AEB6BF;
}

body {
    height: 100%;
    font-family: Arial;
}


/* Backgrounds */
.bg-gray-100 {
    background-color: var(--gray-100);
}

.bg-gray-200 {
    background-color: var(--gray-200);
}

.bg-gray-300 {
    background-color: var(--gray-300);
}

.bg-gray-400 {
    background-color: var(--gray-400);
}

.bg-gray-500 {
    background-color: var(--gray-500);
}

.bg-gray-600 {
    background-color: var(--gray-600);
}

/* Colores de estado */
.status-free{
    background-color: var(--free);
}
.status-busy {
    background-color: var(--busy);
}



/* Colores de texto */
.text-gray-100 {
    color: var(--gray-100);
}

.text-gray-200 {
    color: var(--gray-200);
}

.text-gray-300 {
    color: var(--gray-300);
}

.text-gray-400 {
    color: var(--gray-400);
}

.text-gray-500 {
    color: var(--gray-500);
}

.text-gray-600 {
    color: var(--gray-600);
}

/* Columnas */
.columna-grilla{
    max-width: 120px;
    text-align: start;
}

.columna-grilla-sm {
    max-width: 80px;
    text-align: justify;
}